*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    background-color: hsl(218, 23%, 16%);
    /* padding: 0 10rem; */
}
.container{
    background-color: hsl(217, 19%, 24%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    align-items: center;
    text-align: center;
    width: 60%;
}
h3{
    color: hsl(150, 100%, 66%);
   }

p{
    font-size: 2.4rem;
    color: #fff;
}
.divide{
   
}
.mobile{
    display: none;
}
    

.btn{
    margin-bottom: -6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1.5rem;
    border: none;
    background-color: hsl(150, 100%, 66%);
    transition: all .3s ease-in;
}
.btn:hover{
    box-shadow: 1px 1px 20px 7px hsla(150, 100%, 66%, 0.351);

}

  @media (max-width:840px) and (min-width:320px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .container{
        width: 86%;
    }
   

} 
@media (max-width:300px){
.mobile, .desktop{
    display: none;
}
}
